@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*TOP BAR NAV*/
.container .sixteen {
    width: 100%;
}
.top_bar {
    background-color: #4f413f;
    text-align: center;
}
.top_bar .container {
    padding-top: 0;
    padding-bottom: 0;
}
.top_bar ul {
    padding: 0;
    margin: 5px 0 0 0;
    border: 0;
    text-align: right;
}
.top_bar ul li {
    border-bottom: 0;
    border-top: 0;
    padding: 0 10px;
    position: relative;
    display: inline-block;
}
.top_bar a {
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0px;
    display: block;
    height: 30px;
    line-height: 30px;
}
/*INDEX STYLES*/
.logo{
  max-width: 100px;
}
.delicious-food-section .single-item h5 a{
      color: #daac5b;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.home{
  display: table;
  position: relative;
  max-width:100%;
  background-size: cover;
}
.navbar{
  font-size: 14px;
}
.btn-outline-success{
    color: white;
    background-color: black;
    background-image: none;
    border-color: purple;
}
.btn-outline-success:hover{
    color: #fff;
    background-color: purple;
    border-color: purple;
}

/*this works for the about-us-section*/
.about-us-section{
  margin: 150px 0 170px 0;
}
.text h2{
  line-height: 60px;
  margin-bottom: 45px;
}
.short-banner{
    background: url('../images/graphics/brownie_banner.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed
}
.short-banner .opacity{
    background: rgba(0,0,0,0.5);
    padding: 165px;
    text-align: center;
}
.short-banner .opacity h2{
    color: white;
    line-height: 75px;
    font-size: 55px;
}
.section2{
  max-width: 100%;
}
/*popular items section*/
.delicious-food-section.fix-top-margin {
    padding-top: 135px;
}
.theme-section-title h2 {
    line-height: 55px;
    text-transform: capitalize;
    font-size: 45px;
}
.theme-section-title p {
    line-height: 32px;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 300;
}
.delicious-food-section .row {
    margin-bottom: 115px;
}
.delicious-food-section .single-item {
    text-align: center;
    margin-bottom: 50px;
}
.delicious-food-section .single-item img {
    margin: 0 auto;
    max-width: 100%;
}
.delicious-food-section .devider {
    height: 1px;
    width: 95%;
    margin: 0 auto;
    background: rgba(0,0,0,0.08);
}

/*CAKES PRODUCTS STYLES*/
.jumbotron{
  background: url(../images/graphics/hero_inner_08.jpg) no-repeat center;
  color: white;
  height: 400px;
}
.jumbotron p{
  font-size: 20px;
}
.product-column{
  min-height:200px;
}
.product-name{
  min-height:80px;
  text-transform: capitalize;
  border: 1px solid #B28564;
  text-align: center;
  color: black;
  margin: 0;
}
.product-thumbnail{
  border:1px solid #cccccc;
  
}
.product-description{
  /*min-height: 100px;*/
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 50%;
  border-top: none !important;
  border-left: none !important;
  text-align: center;
  padding: 15px;
  color: #B28564;
  border: 1px solid #B28564;
  font-weight: 600;
}
.product-price{
  /*old styles
  font-weight: 600;
  margin:1em 0;
  border: 1px solid #B28564;*/
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  border: 1px solid #B28564;
  border-top: none !important;
  padding: 1rem .2rem;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1;
  color: black;
}
.price::before{
  content:'$';
}
/*color text*/
.page-link{
  color: #B28564;
}
/*background and color side bar*/
.page-item.active .page-link{
  background:#B28564;
  border-color: #B28564;
  color:white;
  
}
.nav-link{
  color: #4f413f;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #4f413f;
}
/*PRODUCT DETAIL PAGE STYLES*/
.cart-container{
  margin-bottom: 80px;
}
.featured-products{
  margin-bottom: 80px;
}
.quantity{
    margin-right: .5em;
    float: left;
    height: 2.8em;
}
.add-to-cart-btn{
    background: #B28564 ;
    color: white;
    border: 1px solid #B28564;
    font-style: bold;
}
/*FOOTER*/
.clearfix img{
  max-width:100%;
}
.top-footer-widget ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.theme-main-footer {
  background: #181818;
  padding-top: 100px;
}
.theme-main-footer p,.theme-main-footer a {
  font-family: 'Open Sans', sans-serif;
  color: rgba(255,255,255,0.6);
}
.top-footer-widget .footer-logo p {
  margin: 12px 0 18px 0;
}
.top-footer-widget h5 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  margin: 20px 0 38px 0;
}
.top-footer-widget .footer-list-widget ul li a {
  margin-bottom: 15px;
}
.top-footer-widget .insta-feed ul {
  margin: 0 -7.5px;
}
.top-footer-widget .insta-feed ul li {
    float: left;
    width: 33.333333333%;
    padding: 10px;
    margin-bottom: 15px;
}
.top-footer-widget .insta-feed ul li a {
  display: block;
}
.top-footer-widget .subscribe-widget>div {
  padding-left: 40px;
}
.top-footer-widget .subscribe-widget p {
  margin: -5px 0 20px 0;
}
.top-footer-widget .subscribe-widget form {
  height: 60px;margin-bottom: 20px;
}
.top-footer-widget .subscribe-widget form input {
  width: 100%;
  height: 100%;
  background: #fff;
  border:none;
  padding: 0 20px;
  color: rgba(0,0,0,0.4);
}
.top-footer-widget .subscribe-widget ul li {
  display: inline-block;
}
.top-footer-widget .subscribe-widget ul li a {
  font-size: 20px;margin-right: 15px;color: #6b6b6b;
}
.top-footer-widget [class*="col-"] {
  margin-bottom: 50px;
}
.theme-main-footer .bottom-footer {
  border-top:1px solid rgba(36,36,36,0.7);
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}
.theme-main-footer .bottom-footer p {
  color: #8b8b8b;
}
.box-layout .theme-main-footer .bottom-footer {
  background:#fff; 
  border: none;
  padding: 35px 0;
}

.customer-title {
  text-align: center;
  color: #4f413f;
  border-bottom: 1px solid #4f413f;
  padding-bottom: 1em;
}

.customer-btn {
  background-color: #4f413f;
  color: white;
  border: 1px solid #796360;
  width: 100%;
}

.customer-btn:hover {
  background-color: #796360;
  color: white;
  border: 1px solid #796360;
}

.login-box {
  font-family: 'Source Sans Pro', sans-serif;
}

.margin-register {
  margin-bottom: 1em;
}
.icon-shopping-cart:before{
  content: '\e80f';
}